*.pyc
/.bash_history
/.cache
/.elasticsearch.ini
/.kube
/.lesshst
/.python-version
/.python_history
/.toolskube
/.tox
/.viminfo
/access.log
/archive
/error.log
/etc/config*.yaml
/replica.my.cnf
/service.log
/service.manifest
/stashbot.err
/stashbot.out
/venv-*
/virtenv
