*.pyc
/.bash_history
/.kube
/.lesshst
/.python_history
/.tox
/.viminfo
/access.log
/archive
/error.log
/etc/config*.yaml
/replica.my.cnf
/service.log
/service.manifest
/stashbot.err
/stashbot.out
/venv-*
/virtenv
